name: Makefile

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  ga-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: native dump
      uses: jehon/actions-devcontainer@main
      with:
        action: dump

    - id: start
      name: start docker
      uses: jehon/actions-devcontainer@main
      with:
        action: start

    - name: check outputs
      run: |
        echo ${{ steps.start.outputs.container }}
        test -n "${{ steps.start.outputs.container }}"

    - name: make dump
      uses: jehon/actions-devcontainer@main
      with:
        action: make
        make: dump

    - name: make dc-hello (arguments)
      uses: jehon/actions-devcontainer@main
      with:
        action: make
        make: dc-hello
        dc-env-0: CUSTOM_ENV_0=Humans

    - name: run ls /
      uses: jehon/actions-devcontainer@main
      with:
        run: "ls /"

    - name: make dc-summary
      uses: jehon/actions-devcontainer@main
      with:
        action: make
        make: dc-summary

    - name: stop docker
      uses: jehon/actions-devcontainer@main
      with:
        action: stop
