name: Makefile

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:

jobs:
  ga-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: native dump
      uses: jehon/actions-devcontainer@main
      with:
        action: dump

    - id: start
      name: start docker
      uses: jehon/actions-devcontainer@main
      with:
        action: start

    - name: make dump
      uses: jehon/actions-devcontainer@main
      with:
        action: make
        make: dump

    - name: stop
      uses: jehon/actions-devcontainer@main
      with:
        action: stop
