name: Makefile

on:
  push:
  pull_request:
    branches:
    - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  ga-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - id: start
      name: start docker
      uses: jehon/actions-devcontainer@main
      with:
        action: start

    - name: check outputs
      run: |
        echo ${{ steps.start.outputs.container }}
        test -n "${{ steps.start.outputs.container }}"

    - name: "inside: true"
      uses: jehon/actions-devcontainer@main
      with:
        run: "true"

    - name: "inside: true || false"
      uses: jehon/actions-devcontainer@main
      with:
        run: "true || false"


    - name: stop docker
      uses: jehon/actions-devcontainer@main
      with:
        action: stop

    - name: test scripts
      run: make test
